# Don't track content of these folders
Calculator/bin/Debug/
Calculator/obj/Debug/
Hangman/bin/Debug/
Hangman/obj/Debug/
hello_world/bin/Debug/
hello_world/obj/Debug/
MVVM Weather App/bin/Debug/
MVVM Weather App/obj/Debug/
/packages/
!packages/repositories.config


# Compiled source #
###################
*.dll
*.exe